* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.content {
    margin: 0 auto;
    padding: 40px;
}

.modal {
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
}

.modal__bg {
    background: rgba(0, 0, 0, 0.2);
    height: 100vh;
    position: absolute;
    width: 100%;
}

.modal__content {
    background: #fff;
    left: 50%;
    padding: 40px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 80%;
    border: solid #4500ff;
}

.modal_box {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

}

.modal_box .box {
    width: 33%;
    margin: 2em auto;
    text-align: left;
    border: 1px solid white;
    border-radius: 3px;
    background: #ffffff;
    float: left
}
