@charset "utf-8";


/* =Reset default browser CSS.
Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */
html,
body,
div,
span,
applet,
object,
iframe,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}

:focus {
    outline: 0;
}

ol,
ul {
    list-style: none;
}

table {
    border-collapse: separate;
    border-spacing: 0;
}

caption,
th,
td {
    font-weight: normal;
    text-align: left;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
}

blockquote,
q {
    quotes: "" "";
}

a img {
    border: 0;
}

figure {
    margin: 0
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

/* -------------------------------------------------------------- */

body {
    height: 100%;
    background: #ffe7e7;
}

html {
    height: 100%;
}


/* 全体
------------------------------------------------------------*/
#wrapper {
    margin: auto;
    padding: 0;
    width: 100%;
    text-align: center;
    min-height: 80vh;
    position: relative;
    background: #ffe7e7;
    font-family: "Sawarabi Gothic", serif;
}

.inner {
    margin: 0 auto;
    width: 100%;
}


/*************
/* ヘッダー
*************/
#header {
    color: #fff;
    background: #333333;
    height: 10%;
}

/*************
/* ロゴ
*************/
#header .logo {
    float: left;
    font-size: 50px;
}

.logo a {
    font-size: 60px;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳ Ｐ明朝", "MS PMincho", serif;
}

.logo span {
    font-size: 12px;
    font-weight: normal;
}

.info {
    float: right;
    padding: 20px 0;
}

.tel strong {
    font-size: 20px;
    font-weight: bold;
}

/**************************
/* トップナビゲーション
**************************/
ul#topnav {
    clear: both;
    overflow: hidden;
    margin: 0 auto;
    background: #ff5959;
    border-radius: 5px 5px 0 0;
}

* html ul#topnav {
    height: 1%;
}

ul#topnav li {
    float: left;
    text-align: center;
}

ul#topnav a {
    width: 156px;
    font-size: 12px;
    display: block;
    padding: 15px 0;
    color: #fff;
    border-left: 1px solid #ff5959;
}

ul#topnav li:first-child a,
ul#topnav li:last-child a {
    width: 155px;
}

ul#topnav li.active a,
ul#topnav a:hover {
    color: #ccc;
}


/**************************
/* メイン画像（トップページ+サブページ）
**************************/
#mainBanner {
    clear: both;
    line-height: 0;
    background: #ff5959;
}

#mainBanner .inner {
    position: relative;
}

#mainBanner img {
    max-width: 100%;
    height: auto;
}

.subImg .slogan {
    left: auto;
    right: 10px;
}

.slogan h2 {
    padding-bottom: 5px;
    color: #fff;
    font-size: 20px;
}

.slogan h3 {
    font-size: 14px;
    color: #ccc;
}


/**************************
/* グリッド
**************************/
.gridWrapper {
    clear: both;
    padding: 0 0;
    overflow: visible;
    margin: auto;
}

* html .gridWrapper {
    height: 1%;
}


.colDark,
.colLight {
    padding-bottom: 10px;
    color: #fff;
    background: #1558a3;
}

.colLight {
    background: #ff5959;
}

.colDark h3,
.colLight h3 {
    margin: 10px 10px 5px;
    font-size: 48px;
    border-bottom: 1px solid #fff;
}

.result {
    font-size: 50px;
}

.Dekai {
    font-size: 80px;
}

.Dekaisub {
    font-size: 60px;
}

/* ボタンのCSS　*/
.btn-denim {
    display: inline-block;
    max-width: 180px;
    text-align: left;
    background-color: #ff5959;
    font-size: 16px;
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 16px;
    border: 1px dashed #FFF;
    box-shadow: 0 0 0 5px #ff5959;
    /* box-shadowで外枠を */
}

.btn-denim:hover {
    border-style: solid;
}

.grid p {
    padding: 5px 10px;
}

.grid ul {
    margin: 5px 10px;
}

.grid li {
    padding: 5px 0;
    list-style: inside;
    border-bottom: 1px dashed #ebebeb;
}

.gridWrapper img {

    width: auto;
    height: auto;
    margin: 0;
}

/*************
メイン コンテンツ
*************/
section.content {
    margin-bottom: 20px;
    font-size: 14px;
    overflow: hidden;
}

* html section.content {
    height: 1%;
}

section.content p {
    margin-bottom: 5px;
}

h3.heading,
#sub .grid h3 {
    padding: 5px 10px;
    margin-bottom: 10px;
    font-size: 16px;
    color: #fff;
    background: #ff5959;
    border-left: 7px solid #ff5959;
    border-right: 7px solid #002855;
}

#sub .grid h3 {
    margin-right: 10px;
}

.alignleft {
    float: left;
    clear: left;
    margin: 3px 10px 10px 1px;
}

.alignright {
    float: right;
    clear: right;
    margin: 3px 1px 10px 10px;
}

/*
.aligncenter {
float: center;
clear: center;
margin: 3px 1px 10px 10px;
}
*/
img.frame,
#gallery img {
    border: 4px solid #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

#gallery .gridWrapper {
    padding: 0;
}

#gallery img {
    margin: 5px;
}

section#gallery {
    overflow: visible;
}


/*************
テーブル
*************/
table.table {
    border-collapse: collapse;
    width: 100%;
    margin: 10px auto;
}

table.table th,
table.table td {
    padding: 5px;
    border: 1px solid #002855;
}

table.table tr:first-child th,
table.table tr:first-child td {
    border-top: #002855 4px solid
}

table.table th {
    font-weight: bold;
    letter-spacing: 1px;
    white-space: nowrap;
    color: #fff;
    background: #164272;
}

/*kakusu*/
#file_button {
    display: none;
}

/*************
/* フッター
*************/
#footer {
    clear: both;
    overflow: hidden;
    background: #333333;
    color: #aaa;
}

* html #footer {
    height: 1%;
}

#footer a {
    font-size: 40px;
    color: aliceblue;
    padding: 0 16px;
}

#footer .p {
    padding: 0 50px;
}


#footer .copyright {
    font-size: 11px;
    padding: 0 10px;
}

#footer img {
    margin: 0 10px;
}

#footer img.twitter {
    width: 30px;
}

#footer img.facebook {
    width: 20px;
}

/* 追加機能 */
.center {
    height: 11px;
}

.parent {
    border: 1px solid #aaa;
    position: relative;
    height: 200px;
    width: 300px;
}

.padding {
    border: 1px solid #aaa;
    padding: 20px 40px;
}

.btn-square {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #668ad8;
    /*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
}

.btn-square:active {
    /*ボタンを押したとき*/
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    /*下に動く*/
    border-bottom: none;
    /*線を消す*/
}

/*
#btn-select {
margin: none;
}
*/
.img {
    width: 582px;
    height: auto;
    text-align: center;
    padding: 10px;
}


/*チェックボックス*/
.cp_ipcheck {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.cp_ipcheck:before,
.cp_ipcheck:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

.cp_ipcheck .box {
    width: 33%;
    margin: 2em auto;
    text-align: left;
    border: 1px solid #ffffff;
    border-radius: 3px;
    background: #ffffff;
    float: left
}

.cp_ipcheck input[type=checkbox] {
    display: none;
}

.cp_ipcheck label:focus,
.cp_ipcheck label:hover,
.cp_ipcheck label:active,
.cp_ipcheck input:checked + label {
    color: #00aaff;
    /*文字部分*/
}

.cp_ipcheck label:focus:before,
.cp_ipcheck label:hover:before,
.cp_ipcheck label:active:before,
.cp_ipcheck input:checked + label:before {
    border-color: #00aaff;
    background: #ffffff;
}

.cp_ipcheck label {
    font-size: 1em;
    font-weight: bold;
    line-height: 1;
    position: relative;
    display: block;
    overflow: hidden;
    padding: 1em 1em 1em 3em;
    cursor: pointer;
    -webkit-transition: all 0.15s ease;
    transition: all 0.15s ease;
    white-space: nowrap;
    text-overflow: ellipsis;
    background: #ffffff;
}

.cp_ipcheck label:before {
    position: absolute;
    top: 1em;
    left: 1em;
    width: 10px;
    height: 10px;
    content: '';
    border: 0.2em solid #d3d3d3;
    /*チェックボックスの枠*/
}

.cp_ipcheck input:checked + label:before {
    border-color: #00aaff;
    /*てぇっく後塗りつぶす*/
    background: #00aaff;
}

.wf-nicomoji {
    font-family: "Nico Moji", serif;
}

div.scl {
    height: 371px;
    overflow: scroll;
    overflow-x: hidden;
}
