{% load i18n static %}
<!DOCTYPE html>{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'maindata/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="../../static/maindata/css/style.css">
    {% block extra_css %}{% endblock %}
<title>{% block title %}SAWA{% endblock %}</title>
</head>
<body>
<div id="header">
        <div class="inner">
            <div class="logo">
                Sawa
            </div>
        </div>
    </div>
  <div class="container">
    {% block content %}
      {{ content }}
    {% endblock %}
  </div>
<script src="{% static 'maindata/css/style.css' %}"></script>
<script src="{% static 'maindata/js/bootstrap.bundle.min.js' %}"></script>
{% block extra_js %}{% endblock %}
</body>
</html>