{% load i18n static %}
<!DOCTYPE html>{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=yes, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="description" content="SAWA">
    <meta name="keywords" content="">
    <title>{% block title %}SAWA{% endblock %}</title>
    <script src="{% static 'maindata/js/jquery-3.4.1.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'maindata/css/style.css' %}" type="text/css" media="screen">
    <link rel="stylesheet" href="{% static 'maindata/css/camera_style.css' %}" type="text/css" media="screen">
    <link rel="stylesheet" href="{% static 'maindata/css/bootstrap.css' %}" type="text/css" media="screen">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <div id="header">
        <div class="inner">
            <div class="logo">
                Sawa
            </div>
        </div>
    </div>
    <div class="container">
        {% block content %}
            {{ content }}
        {% endblock %}
    </div>
    <div id="footer">
        <div class="inner">
            <section class="gridWrapper">
                <article class="grid">
                    <p class="logo">Sisinibora<br /></p>
                </article>
                <article class="grid col3">
                    <p>2019 Sisinibora</p>
                </article>
            </section>
        </div>
    </div>
<script src="{% static 'maindata/css/style.css' %}"></script>
<script src="{% static 'maindata/js/bootstrap.bundle.min.js' %}"></script>
{% block extra_js %}{% endblock %}
</body>
</html>