<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Camera</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

<h1>カメラ用</h1>

<video id="camera" width="336" height="336" class="camera"></video>
<canvas id="picture" width="336" height="336" class="result"></canvas>
<form>
    <button type="button" id="cancel" class="cancel">撮りなおす！</button>
    <button type="button" id="shutter" class="shutter">写真を撮る！</button>
    <button type="button" id="next" class="next">これでOK!</button>
</form>

<script src="webcam.js"></script>


</body>
</html>