{% extends "maindata/bace.html" %}

{% block title %}{% endblock title %}
{% load static %}
    <script src="{% static 'maindata/js/webcam.js' %}"></script>
{% block content %}
    <div id="wrapper">
        <section class="gridWrapper img">
            <br><video id="camera" width="336" height="336" class="camera"></video>
            <canvas id="picture" width="336" height="336" class="result"></canvas>
        </section>
        <form action="result/" method="post" style="text-align: center" name="camera">
            {% csrf_token %}
            <div id="cancel" class="cancel">
                <label>
                    <br><br>
                    <span class="btn btn-primary">
                        撮りなおす
                        <input type="button" style="display: none" id="cancel" class="cancel">
                    </span>
                </label>
            </div>
            <div id="shutter" class="shutter">
                <label>
                    <br><br>
                    <span class="btn btn-primary">
                        写真を撮る
                        <input type="button" style="display: none" id="shutter" class="shutter">
                    </span>
                </label>
                </div>
            <div class="next" id="next">
                <label>
                    <span class="btn btn-secondary">
                        決定
                        <input id="submit-button next" type="submit" style="display: none" class="next">
                    </span>
                </label>
            </div>
            <br><br>
        </form>
        <script src="../../static/maindata/js/webcam.js"></script>
    </div>

{% endblock content %}
