{% extends "maindata/bace.html" %}

{% block title %}{% endblock title %}

{% block content %}

    <div id="wrapper">
        <div class="center" style="font-size: 40px">カテゴリ選択</div>
        <form action="result.html" method="post" class="center">
            <div class="cp_ipcheck">
                <div class="box">
                    <input type="checkbox" id="a_ch1" />
                    <label for="a_ch1">アイドル</label>
                    <input type="checkbox" id="a_ch2" />
                    <label for="a_ch2">プロ野球選手</label>
                    <input type="checkbox" id="a_ch3" />
                    <label for="a_ch3">俳優</label>
                    <input type="checkbox" id="a_ch10" />
                    <label for="a_ch10">女優</label>
                </div>
                <div class="box">
                    <input type="checkbox" id="a_ch4" />
                    <label for="a_ch4">ミュージシャン</label>
                    <input type="checkbox" id="a_ch5" />
                    <label for="a_ch5">ユーチューバー</label>
                    <input type="checkbox" id="a_ch6" />
                    <label for="a_ch6">アーティスト</label>
                    <input type="checkbox" id="a_ch11" />
                    <label for="a_ch11">野菜</label>
                </div>
                <div class="box">
                    <input type="checkbox" id="a_ch7" />
                    <label for="a_ch7">果物</label>
                    <input type="checkbox" id="a_ch8" />
                    <label for="a_ch8">動物</label>
                    <input type="checkbox" id="a_ch9" />
                    <label for="a_ch9">ゲーム実況者</label>
                    <input type="checkbox" id="a_ch12" />
                    <label for="a_ch12">平均の顔</label>
                </div>
            </div>
            <label>
                <span class="btn btn-secondary">
                    決定
                    <input id="submit-button" type="submit" style="display: none">
                </span>
            </label>
        </form>
    </div>
{% endblock content %}
