{% extends "maindata/bace.html" %}

{% block title %}{% endblock title %}
{% block content %}
    {% block main %}
        {{ main }}
    {% endblock main%}
    <div class="modal-content">
            <div class="wf-nicomoji modal-header h4">カテゴリせんたく</div>
            <form action="sendfile/" method="post" style="text-align: center" enctype="multipart/form-data" onsubmit= "return checkPhase()" name="form">
            <!--<form action="result2/" class="center" method="post" name="selectCategory">-->
                {% csrf_token %}
                <div class="cp_ipcheck">
                    <div class="box">
                        <input type="checkbox" name="俳優" id="a_ch1" value="星野源" checked="checked"/>
                        <label for="a_ch1">星野源</label>
                        <input type="checkbox" name="俳優" id="a_ch2" value="三浦春馬"  checked="checked"/>
                        <label for="a_ch2">三浦春馬</label>
                    </div>
                    <div class="box">
                        <input type="checkbox" checked="checked"/>
                        <label>XXXX</label>
                    </div>
                    <div class="box">
                        <input type="checkbox" checked="checked"/>
                        <label>XXXX</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <label>
                        <span class="js-modal-close btn btn-primary">
                            閉じる
                            <input type="button" style="display: none">
                        </span>
                    </label>
                    <label>
                        <span class="btn btn-secondary">
                            決定
                            <input id="submit-button" type="submit" style="display: none">
                        </span>
                    </label>
                </div>
            </form>
    </div>
    {% block sub %}
        {{ sub }}
    {% endblock sub %}
{% endblock content %}
