<!DOCTYPE html>
<html dir="ltr" lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=yes, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="description" content="SAWA">
    <meta name="keywords" content="">
    <title>SAWA</title>
    <link rel="stylesheet" href="../../static/maindata/css/style.css" type="text/css" media="screen">
    <link rel="stylesheet" href="../../static/maindata/css/bootstrap.css">
    <!--[if lt IE 9]>
    <!-
    <script src="js/html5.js"></script>
    <script src="js/css3-mediaqueries.js"></script> -->
    <!--[endif]-->
</head>

<body>
    <!-- ヘッダー -->
    <div id="header">
        <div class="inner">
            <div class="logo">
                Sawa
            </div>
        </div>
    </div>
    <div id="wrapper">
        <section class="gridWrapper img">
            <br><img src="../../static/maindata/imgs/noimg.jpg" class="not_image">

        </section>
        <form action="" method="post" style="text-align: center">
            <label>
                <br><br>
                <span class="btn btn-primary">
                    画像を選択してください
                    <input type="file" style="display: none" id="file">
                </span>
            </label>
            <label>
                <span class="btn btn-secondary">
                    決定
                    <input id="submit-button" type="submit" style="display: none">
                </span>
            </label>
            <br><br>
        </form>
    </div>
    <!-- / WRAPPER -->

    <!-- フッター -->
    <div id="footer">
        <div class="inner">
            <section class="gridWrapper">
                <article class="grid">
                    <p class="logo"><a href="index.html">Sisinibora<br /><span></span></a></p>
                </article>
                <article class="grid col3">
                    <p>2019 Sisinibora All Design by <a href="http://f-tpl.com" target="_blank" rel="nofollow">http://f-tpl.com</a></p>
                </article>
            </section>
        </div>
    </div>
    <!-- / フッター -->

</body>

</html>
