{% extends "maindata/bace.html" %}

{% block title %}{% endblock title %}
{% load static %}
{% block content %}

    <div id="wrapper">
        <section class="gridWrapper img">
            <br>
            <canvas id="canvas" class="canvas" name="canvas"></canvas>
        </section>
        <form action="sendfile/" method="post" style="text-align: center" enctype="multipart/form-data"
              onsubmit="return checkPhase()" name="form">
            {% csrf_token %}
            <label>
                <span class="btn btn-primary">
                    画像を選択してください
                    <input type="file" style="display: none" id="file">
                    <input type="hidden">
                </span>
            </label>
            <label>
                <span class="btn btn-secondary">
                    決定
                    <input id="submit-button" type="submit" style="display: none">
                </span>
            </label>
            <br><br>
        </form>
    </div>
    <script src="{% static 'maindata/js/file_select.js' %}"></script>
    <!-- / WRAPPER -->
{% endblock content %}
