{% extends "maindata/bace.html" %}

{% block title %}{% endblock title %}

{% block content %}
    <div id="wrapper">
        <section class="gridWrapper" id="sub">
            <article class="grid col12">
                <div class="Dekai">
                    SAWA
                </div>
                <div class="Dekaisub">～あなたの顔〇〇っぽいかも？～</div>
            </article>
        </section>
        <div class="center">
            <label>
                <form action="file_select/" method="get">
                    <span class="btn-square">
                        ファイルから選択
                        <input type="submit" style="display: none" name="file_select">
                    </span>
                </form>
            </label>
            <label>
                <form action="camera/" method="get">
                    <span class="btn-square">
                        Webカメラで撮影
                        <input type="submit" style="display: none" name="file_select">
                    </span>
                </form>
            </label>
            <label>
                <form action="category/" method="get">
                    <span class="btn-square">
                        [test]category_select.html
                        <input type="submit" style="display: none" name="category">
                    </span>
                </form>
            </label>

        </div>
    </div>
    <!-- / WRAPPER -->

{% endblock content %}
